# Environnement Python
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Données (garder la structure, pas les fichiers)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Fichiers système et éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
.env
